html, body {
    font-family: Tahoma;
    position: relative;
    background-color: rgb(121, 189, 143);
    height: 100%;
    overflow-x: hidden;
}

p, li{
    font-size: 1.4vw;
}

h2 {
    font-size: 1.9vw;
}

#cont {
    min-height: 100%;
}

#Mtable {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

#Mtable iframe {
    overflow-y: hidden;
}

/*=====Header=====*/
#top-menu {

    background: #EDEDED;
    border-bottom: 2px solid #3B5998;
    z-index:9999;
    box-shadow: 0 0 20px #616161;
}

#top-menu a {
    background: #EDEDED;
    text-align: center;
    padding: 9px;
    text-decoration: none;
    line-height: 33px;
    transition: all .6s;
    color: black;
    font-size: 15pt;
}

#top-menu a:hover {
    background: #FFA632;
    color: #FFFFFF;
}

#top-menu a:active {
    background: #e66b25;
}

#top-menu li {
    height: 100%;
}

#tes {
    height: 100%;
}

#tes a{
    color: #3B5998;
}

#watch{
    color: black;
    font-size: 20px; 
    font-weight: bold;
    margin: 10px;
    
    border-radius: 3px;
    float: right;
    box-shadow:0 0 5px #000000;
    padding: 1px;
    background-color: #00A388;
} 
#btnMob {
    margin: -5px;
    margin-top: 0;
    padding-top: 6px;
}
/*!=====Header=====*/

/*=====Main=====*/
#content {
    height: 95%;
}

#center {
    padding-bottom: 10px;
    padding-top: 3px;
    background-color: #F7F7F7;
    /*border: solid 0.5px #000000;*/
    border-radius: 2px;
    color: black;
    box-shadow: 0 0 15px #000000;
    filter: alpha(Opacity=70);
}

#tdcent{
    height: 100%;
    overflow-y: hidden;
}

#tex {
    text-align: center;
    box-shadow: 0 0 10px #000000;
    background-color: #00A388;
    text-shadow: 1px 1px 1px #4e4e4e, 0 0 0em #ffad5e;
    margin-bottom: 2px;
    font-size: 1.5vw;
}

.tex1 {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #3B5998;
    padding: 10px;
    box-shadow: 0 0 5px #000000;
    border-radius: 10px;
    position: relative;
}

.tex1 img {
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

/*=====Galery=====*/
#thumbs {
    padding-top: 10px;
    overflow: hidden;
}

#thumbs img, #largeImage {
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    cursor: pointer;
    width: 97%;
    margin: auto;
}

#thumbs img {
    float: left;
    margin-right: 6px;
}

#order table {
    margin: auto;
    text-align: center;
}

#order {
    text-align: center;
}

#order li, #order p, #order h1 {
    list-style: none;
    font-size: 2.5vw;
}
/*!=====Galery=====*/

/*=====About=====*/
#about img {
    width: 8%;
    float: left;
    border: 1.3vw solid lightgray;
    margin: -4px 10px 5px 0;
}

#about h2 {
    clear: left;
}
/*!=====About=====*/

/*!=====Main=====*/

/*=====buttonOnTop=====*/
a.topbutton {
    width:40px;
    background-image: url(../img/up2.png);
    background-size: contain;
    padding:10px;
    position:fixed;
    bottom:50px;
    cursor:pointer;
    height: 40px;
    opacity: 0.3;
    margin-left: 27px;
}

a.topbutton:hover{
    opacity: 1;
}

/*!=====buttonOnTop=====*/

/*=====Footer=====*/
#footer {
    background: #EDEDED;
    border-top: 2px solid #3B5998;
    z-index:9999;
    box-shadow: 0 0 20px #616161;
    text-align: center;
    font-size: 20px;
}
/*!=====Footer=====*/
